.login,.registration,.reset_pwd,.reset_pwd_email{
  background-color: rgba(30,35,40,1);
  min-height: 100vh;
  padding-top: 150px;
}
.login>form,.registration>form,.reset_pwd>form,.reset_pwd_email>form{
  max-width: 450px;
  margin: auto;
  box-shadow: 4px 5px black;
  border: 2px solid black;
  padding: 20px 25px 20px 25px;
}
.login>form>div,.registration>form>div,.reset_pwd>form>div,.reset_pwd_email>form>div{
  height: 38px;
  margin: 20px 0;
}
.login>form>div>label,.registration>form>div>label,.reset_pwd>form>div>label,.reset_pwd_email>form>div>label{
  float: left;
  width: 40%;
  padding: 8px 0;
}
.login>form>div>input,.registration>form>div>input,.reset_pwd>form>div>input,.reset_pwd_email>form>div>input{
  font-size: 18px;
  float: right;
  width: 60%;
  padding: 8px;
  outline: none;
  border: none;
  color: #0dcaf0;
  border-radius: 2px;
}
.login>form>input,.registration>form>input,.reset_pwd>form>input,.reset_pwd_email>form>input[type='submit']{
  width: 100%;
  background-color: transparent;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #0d6efd;
  border: 1px solid #0d6efd;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.login>form>input:hover,.registration>form>input:hover,.reset_pwd>form>input:hover,.reset_pwd_email>form>input[type='submit']:hover{
  color: white;
  background-color: #0d6efd;
}

.registration>form>p,.login>form>p,.reset_pwd>form>p,.reset_pwd_email>form>p{margin-top: 15px;}

.registration>form>p>a{color: blue;text-decoration: none;}

.login>form>a{color: blue;text-decoration: none;display: block;margin-top: 15px;}


@media screen and (max-width:700px) {
  .login,.registration{
    padding-top: 50px;
  }
}