.changepwd{
  margin-left: 10px;
  border: 1px solid black;
  width: 400px;
}
.changepwd>form{
  padding: 10px 15px 15px 15px;
}
.changepwd>form>div{
  height: 33px;
  margin: 10px 0;
}
.changepwd>form>div>label{
  width: 30%;
  float: left;
  padding: 7px 0;
}
.changepwd>form>div>input{
  width: 70%;
  float: right;
  background-color: transparent;
  border: 1px solid black;
  outline: none;
  padding: 7px;
  font-weight: 600;
}
.changepwd>form>input[type='submit']{
  background-color:  rgba(33, 37, 41,1);
  border: 1px solid white;
  color: white;
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  border-radius: 2px;
  padding: 7px 0;
  margin: 10px 0 0px 0;
}
.changepwd>form>p{
  margin-top: 15px;
}
